name: Game Tests

on:
  pull_request:
  push:
    branches:
      - main
      - dev

jobs:
  rungametestserver:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Cache Gradle packages
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper

      - name: Run GameTests
        run: ./gradlew runGameTestServer --stacktrace